---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: general

"on":
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  general:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Setup nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: npm

      - name: Setup hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: latest
          extended: true

      - name: Install assets
        run: npm install --ci

      - name: Build website
        run: hugo --cleanDestinationDir --enableGitInfo --minify --gc

      - name: Deploy website
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        uses: South-Paw/action-netlify-cli@v2
        with:
          args: deploy --prod --dir public/

...
